main{
    margin-top: 16.85% !important;
    margin-right: 20px !important;
    margin-bottom: 17.35% !important;
}
header{
    margin-top: 2px !important;
}
.main_name {
    font-size: 36px !important;
}
.main_text {
    font-size: 18px !important;
}
.main_email{
    font-size: 18px !important;
}

body{
    background-color: rgb(245, 245, 245) !important;
}

.copyright_text{
    border-bottom: solid #6c6c6c 1px;
    color: #6c6c6c;  
}
.copyright_text:hover{
    border-bottom: solid black 1px;
    color: black;  
}

.copyright_text, .copyright{
    font-size: 12px !important;
    color: #6c6c6c;
    
}
.copyright:hover{
    color: black;  
}

.copyright_link {
    text-decoration: none !important;

}