main{
    margin-top: 16.85% !important;
    margin-right: 20px !important;
}
header{
    margin-top: 2px !important;
}
.main_name {
    font-size: 36px !important;
}
.main_text {
    font-size: 18px !important;
}
.main_email{
    font-size: 18px !important;
}

body{
    background-color: rgb(245, 245, 245) !important;
}